@model YazLabSite.ViewModels.Asama2ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Anahtar Kelime Bulma</h2>
<form method="post">
    <div class="form-group">
        <label>Frekans için url giriniz: </label>
        <input style="min-width:35%;" type="text" name="gelenUrl" class="form-control" />
        <button type="submit" class="btn btn-success">Getir</button>

    </div>
</form>

@if (Model.KeywordListesi != null)
{
    @Model.KeywordListesi.Count
    <ol>
        @foreach (var item in Model.KeywordListesi)
        {
            <li>@item.Word @item.Frequency</li>
        }
    </ol>

}