
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AŞAMA4</h2>

<form method="post">
    <div class="form-group">
        <div class="form-group">
            <label>Benzerliği hesaplanacak ana url girin: </label>
            <input style="min-width:35%;" type="text" name="gelenUrl" class="form-control" />
        </div>
        <div class="form-group">
            <label>Benzerliği hesaplanacak site girin: </label>
            <ol>
                <li><input style="min-width:35%;" type="text" name="gelenUrl1" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl2" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl3" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl4" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl5" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl6" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl7" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl8" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl9" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl10" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl11" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl12" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl13" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl14" class="form-control" /></li>
                <li><input style="min-width:35%;" type="text" name="gelenUrl15" class="form-control" /></li>                
            </ol>
            <button type="submit" class="btn btn-success">Getir</button>
        </div>
    </div>
</form>

